/* Sticky header with bookmark fix */
.nav-target-fix{
    display: block;
    margin-top: calc(-46px - 95px); /*Sum of sticky element height (header + nav)*/
    padding-bottom: calc(46px + 95px);
}

.nav-target-fix-first-element{
    display: block;
    margin-top: -1000px;
    padding-bottom: 1000px;
}

.product-information-page-content{
    display: grid;
    grid-template-areas: "image sidebar"
                         "information sidebar";
    grid-template-columns: 1fr 1fr;
}

.product-information-page-content .product__image{
    grid-area: image;
    background: var(--grey);
    padding: 75px 30px;
    margin-bottom: .5em;
    text-align: center;
}

.product-information-page-content .product__image img{
    max-width: 100%;
}

.product-information-page-content .product__sidebar{
    grid-area: sidebar;
    padding: 10px 2.5% 20px 2em;
    border-left: 1px solid var(--darkerGrey);
}


.product__sidebar .sticky-wrapper{
    position: sticky;
    top: 105px; /*Header height + 10px*/
}

.product__sidebar .product__price{
    color: #f00;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.product__sidebar .product__price span{
    text-decoration: underline;
}

.product__sidebar .product__colors{
    display: flex;
    margin-bottom: 20px;
}

.product__sidebar .product__colors a{
    background: var(--grey);
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__sidebar .product__colors a:nth-of-type(2){
    margin: 0 10px;
}

.product__sidebar .product__colors a:hover{
    outline: 1px solid black;
}

.product__sidebar .product__colors img{
    width: 50px;
    display: block;
}

.product__sidebar .product__size{
    margin-bottom: 1em;
}

.product__sidebar .product__size p{
    font-weight: 700;
}

.product__sidebar .product__size .size-btn{
    outline: none;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    width: 50px;
    padding: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.product__sidebar .product__size .size-btn:hover,
.product__sidebar .product__size .size-btn.active{
    background: #000;
    color: #fff;
}

.product__sidebar .product__buy{
    margin-bottom: 1em;
}

.product__sidebar .product__buy button{
    outline: none;
    background: var(--orange);
    border: 0;
    padding: 10px 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 3px 3px 1px #000;
}

.product__sidebar .product__buy button:hover{
    filter: drop-shadow(0px 0px 3px var(--orange)) brightness(1.1);
}

.product__sidebar .product__guarantee .free-ship,
.product__sidebar .product__guarantee .return{
    display: flex;
    align-items: flex-start;
}

.product__sidebar .product__guarantee .free-ship img,
.product__sidebar .product__guarantee .return img{
    margin-right: 10px;
}

.product__sidebar .product__guarantee .free-ship p,
.product__sidebar .product__guarantee .return p{
    text-decoration: underline;
}

.product-information-page-content .product__information{
    grid-area: information;
}

.product__information .navigation{
    margin-bottom: 50px;
    position: sticky;
    top: 95px; /*Header height*/
    background-color: #fff;
    font-size: .8rem;
    font-weight: 700;
}

.product__information .navigation ul{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-bottom: 1px solid var(--darkerGrey);
}

.product__information .navigation li{
    margin: 0px 10px;
    position: relative;
}

.product__information .navigation li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 95%;
    background: rgba(0,0,0,.7);
    transform: scale(0);
    transition: transform 200ms linear;
}
.product__information .navigation li:hover::after{
    transform: scale(1);
}

.product__information .content{
    padding: 0 20px;
}

.product__information .content #description{
    margin-bottom: 3em;
}

.product__information .content #description h1{
    margin-bottom: 10px;
}

.product__information .content #description h2{
    margin-bottom: 20px;
    font-weight: 400;
}

.product__information .content #specifications{
    margin-bottom: 3em;
}

.product__information .content #specifications h1{
    margin-bottom: 16px;
}

.product__information .content #specifications ul li{
    list-style: initial;
    margin: 0 0 1em 18px;
}

@media screen and (max-width: 700px){
    .product-information-page-content{
        grid-template-areas: initial;
        grid-template-columns: 1fr;
    }

    .product-information-page-content .product__image{
        padding: 100px 30px;
    }

    .product-information-page-content .product__image,
    .product-information-page-content .product__sidebar,
    .product-information-page-content .product__information{
        grid-area: initial;
    }

    .product-information-page-content .product__sidebar{
        padding: 0 2.5%;
        margin: 20px 0 30px 0;
    }

    .product__sidebar .sticky-wrapper{
        position: initial;
    }

    .product__information .navigation ul{
        border-top: 1px solid var(--darkerGrey);
    }
}

@media screen and (max-width: 360px){
    .product__information .navigation{
        font-size: .7rem;
    }
    .product__information .navigation li{
        margin: 0;
    }
}